.dayP {
	display: none;
}

.nightP {
	display: block;
}

.progress-bar-default, .progress-bar-info, .progress-bar-success, .progress-bar-warning, .progress-bar-danger {
  background-color: #33b5e5;
}

#version {
  color: #EAEAEA;
}